* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
}

:root {
  --color-primary: #112D4E;
  --color-secondary: #3F72AF;
  --color-white: #DBE2EF;
  --color-black: #212A3E;
  --color-grey-0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c798c;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-icon: #DBE2EF;
  --color-pop: #DAA06D;
  --color-translucent: rgba(255, 255, 255, 0.25);
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

.light-mode {
  --color-primary: #F0E5CF;
  --color-secondary: #4B6587;
  --color-white: #666c77;
  --color-black: #000;
  --color-grey-0: #f8f8f8;
  --color-grey-1: #666c77;
  --color-grey-2: #666c77;
  --color-grey-3: #666c77;
  --color-grey-4: #e3e2de;
  --color-grey-5: #e3e2de;
  --color-icon: #FFFFFF;
  --color-pop: #CD7F32;
  --color-translucent: rgba(102, 108, 119, 0.65);
}
.light-mode .portfolios .portfolio-item img {
  filter: grayscale(0);
}
.light-mode .header-content .left-header .pfp img {
  filter: grayscale(0);
}

body {
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 60%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  animation: scaleAnim 1s ease-in-out;
}
@keyframes scaleAnim {
  0% {
    transform: translateX(-100%) scaleX(0);
  }
  100% {
    transform: translateX(0) scaleX(1);
  }
}

/*Controls*/
.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.controls .active-btn {
  background-color: var(--color-secondary) !important;
  transition: all 0.4s ease-in-out;
  transform: translateY(-5px);
}
.controls .active-btn i {
  color: var(--color-icon) !important;
}
.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey-4);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
}
.controls .control i {
  font-size: 1.2rem;
  color: var(--color-grey-2);
  pointer-events: none;
}

.theme-btn {
  top: 5%;
  right: 3%;
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--color-grey-4);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translateY(-5px);
}
.theme-btn i {
  font-size: 1.4rem;
  color: var(--color-grey-2);
  pointer-events: none;
}

/*Header-content*/
.header-content {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  min-height: 100vh;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .left-header .h-shape {
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
  width: 65%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 45% 0, 72% 100%, 0% 100%);
          clip-path: polygon(0 0, 45% 0, 72% 100%, 0% 100%);
}
.header-content .left-header .pfp {
  border-radius: var(--br-sm-2);
  height: 90%;
  width: 68%;
  margin-left: 4rem;
  transition: all 0.4s ease-in-out;
}
.header-content .left-header .pfp img {
  width: 100%;
  height: 100%;
  border-radius: var(--br-sm-2);
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100%);
}
.header-content .left-header .pfp img:hover {
  filter: grayscale(0);
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10rem;
}
.header-content .right-header .name {
  font-size: 2.65rem;
}
.header-content .right-header .name span {
  color: var(--color-secondary);
}
.header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
}

/*About*/
.abt-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
.abt-container .left-about {
  padding-right: 5rem;
}
.abt-container .left-about p {
  line-height: 2rem;
  padding: 1rem;
  color: var(--color-grey-1);
}
.abt-container .left-about h4 {
  font-size: 2rem;
  font-weight: 1000;
  text-transform: uppercase;
  color: var(--color-pop);
}
.abt-container .left-about h3 {
  font-size: 1rem;
  font-weight: 1000;
  text-transform: uppercase;
  color: var(--color-pop);
}
.abt-container .left-about .nutshell-text {
  font-size: 1.6rem;
}
.abt-container .left-about .coursework-text {
  font-size: 0.8rem;
}
.abt-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.abt-container .right-about .abt-item {
  border: 1px solid var(--color-grey-5);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgb(0, 0, 0);
}
.abt-container .right-about .abt-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.32);
}
.abt-container .right-about .abt-item .abt-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.abt-container .right-about .abt-item .abt-text .large-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-pop);
}
.abt-container .right-about .abt-item .abt-text .medium-text {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-pop);
}
.abt-container .right-about .abt-item .abt-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-grey-1);
  letter-spacing: 2px;
}
.abt-container .right-about .abt-item .abt-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--color-grey-5);
}

.about-stats {
  padding-bottom: 4rem;
}
.about-stats .proficiency-bars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-stats .proficiency-bars .prof-bar {
  display: flex;
  flex-direction: column;
}
.about-stats .proficiency-bars .prof-bar .prof-title {
  text-transform: uppercase;
  font-weight: 500;
}
.about-stats .proficiency-bars .prof-bar .prof-con {
  display: flex;
  align-items: center;
}
.about-stats .proficiency-bars .prof-bar .prof-con .prof-text {
  color: var(--color-secondary);
}
.about-stats .proficiency-bars .prof-bar .prof-con .proficiency {
  width: 100%;
  height: 0.45rem;
  background-color: var(--color-grey-4);
  margin-left: 1rem;
  position: relative;
}
.about-stats .proficiency-bars .prof-bar .prof-con .proficiency span {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
}
.about-stats .proficiency-bars .prof-bar .prof-con .proficiency .java {
  width: 90%;
}
.about-stats .proficiency-bars .prof-bar .prof-con .proficiency .javascript {
  width: 75%;
}
.about-stats .proficiency-bars .prof-bar .prof-con .proficiency .python {
  width: 75%;
}
.about-stats .proficiency-bars .prof-bar .prof-con .proficiency .css {
  width: 65%;
}
.about-stats .proficiency-bars .prof-bar .prof-con .proficiency .html {
  width: 55%;
}
.about-stats .proficiency-bars .prof-bar .prof-con .proficiency .react {
  width: 40%;
}
.about-stats .proficiency-bars .prof-bar .prof-con .proficiency .sql {
  width: 30%;
}
.about-stats .proficiency-bars .prof-bar .prof-con .proficiency .c {
  width: 30%;
}
.about-stats .proficiency-bars .prof-bar .prof-con .proficiency .swift {
  width: 20%;
}

.stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
  color: var(--color-pop);
}
.stat-title::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  width: 40%;
  height: 1px;
  background-color: var(--color-grey-5);
  transform: translateX(-50%);
}

.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
}
.timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid var(--color-grey-5);
}
.timeline .timeline-item .tl-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: var(--color-secondary);
  color: var(--color-icon);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline .timeline-item .tl-icon i {
  font-size: 1.3rem;
}
.timeline .timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-grey-5);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}
.timeline .timeline-item h5 span {
  color: var(--color-grey-2);
  font-weight: 500;
  font-size: 1.2rem;
}
.timeline .timeline-item p {
  color: var(--color-grey-2);
}

/*Portfolios*/
.port-text {
  padding: 2rem 0;
  text-align: center;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
.portfolios .portfolio-item {
  position: relative;
}
.portfolios .portfolio-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  filter: grayscale(60%);
}
.portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items h3 {
  font-size: 1.5rem;
  color: var(--color-icon);
  margin-bottom: 1.5rem;
}
.portfolios .portfolio-item .hover-items .icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolios .portfolio-item .hover-items .icons .icon {
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items .icons .icon i {
  font-size: 1.5rem;
  color: var(--color-white);
  margin: 0 1rem;
}
.portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: var(--color-white);
}
.portfolios .portfolio-item .hover-items .icons .icon:hover i {
  color: var(--color-primary);
}
.portfolios .portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

/*Contact*/
.contact-content-con {
  display: flex;
  padding-top: 3.5rem;
}
.contact-content-con .left-contact {
  flex: 2;
}
.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-pop);
}
.contact-content-con .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}
.contact-content-con .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-content-con .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contact-content-con .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.contact-content-con .left-contact .contact-info .contact-item .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.contact-content-con .left-contact .contact-icon {
  display: flex;
  margin-top: 2rem;
}
.contact-content-con .left-contact .contact-icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  background-color: var(--color-grey-5);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: all 0.4s ease-in-out;
}
.contact-content-con .left-contact .contact-icon a:hover {
  background-color: var(--color-secondary);
}
.contact-content-con .left-contact .contact-icon a:hover i {
  color: var(--color-primary);
}
.contact-content-con .left-contact .contact-icon a i {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.contact-content-con .right-contact {
  flex: 3;
  margin-left: 3rem;
}
.contact-content-con .right-contact .input-control {
  margin: 1.5rem 0;
}
.contact-content-con .right-contact .input-control input, .contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  box-sizing: border-box;
  background-color: var(--color-grey-5);
  width: 100%;
  color: var(--color-white);
  resize: none;
  outline: none;
  border: none;
}
.contact-content-con .right-contact .input-control2 {
  display: flex;
}
.contact-content-con .right-contact .input-control2 :last-child {
  margin-left: 2rem;
  margin-right: 0;
}
.contact-content-con .right-contact .submit-btn {
  display: flex;
  justify-content: flex-start;
}

/*Independent components*/
.btn-con {
  display: flex;
  align-self: flex-start;
  padding-bottom: 1rem;
}

.submit-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
  background-color: var(--color-primary);
  background: linear-gradient(to left, var(--color-secondary) 50%, var(--color-primary) 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.5s ease-out;
}
.submit-btn .btn-text {
  padding: 0 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}
.submit-btn .btn-icon {
  color: var(--color-icon);
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.submit-btn:hover {
  background-position: right bottom;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  color: var(--color-icon);
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;
  z-index: -1;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: var(--color-primary);
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 6.5rem;
  font-weight: 700;
  white-space: nowrap;
  -webkit-text-stroke: 0.05rem var(--color-secondary);
}
.main-title h2::before {
  content: attr(data-text);
  position: absolute;
  width: 0%;
  height: 100%;
  color: var(--color-pop);
  -webkit-text-stroke: 0 var(--color-secondary);
  border-right: 2px solid var(--color-secondary);
  overflow: hidden;
  animation: animate 3s linear;
  animation-fill-mode: forwards;
}
@keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.rain {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.rain.back-row {
  display: block;
  z-index: -1;
  bottom: 60px;
  opacity: 0.5;
  top: 90px;
  line-height: 12px;
  padding-top: 14px;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(90vh);
  }
}
.stem {
  width: 1px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--color-translucent));
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.splat {
  top: 20px;
  width: 15px;
  height: 10px;
  border-top: 2px dotted rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: splat 0.5s linear infinite;
  display: block;
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
@media screen and (max-width: 600px) {
  header {
    padding: 0;
  }
  header .right-header {
    padding: 0 !important;
  }
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .left-header .pfp {
    margin: 0 auto;
    width: 90%;
  }
  .right-header {
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.5rem !important;
  }
  .abt-container {
    grid-template-columns: 1fr;
  }
  .abt-container .right-about {
    grid-template-columns: 1fr;
    padding-top: 2.5rem;
  }
  .abt-container .left-about {
    padding-right: 0;
  }
  .abt-container .left-about p {
    padding-left: 0.5rem;
  }
  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .about-stats .proficiency-bars {
    grid-template-columns: 1fr;
  }
  .portfolios {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .contact-content-con {
    flex-direction: column;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-con .right-contact .input-control2 {
    flex-direction: column;
  }
  .contact-content-con .right-contact .input-control2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .section {
    padding: 2rem 2.5rem;
    width: 80%;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }
  .controls .control {
    margin: 1rem 0.3rem;
  }
  .main-title h2 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 1070px) {
  .abt-container {
    grid-template-columns: 1fr;
  }
  .abt-container .right-about {
    padding-top: 2.5rem;
  }
  .portfolios {
    grid-template-columns: 1fr 1fr;
  }
  .contact-content-con {
    flex-direction: column;
  }
  .main-title h2 {
    font-size: 5rem;
  }
}/*# sourceMappingURL=styles.css.map */